/* http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/
* {
  font-family: "Roboto", sans-serif;
  font-size: 10px;
  box-sizing: border-box; }

html {
  min-height: 100vh; }

body {
  display: flex;
  flex-direction: column; }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
  height: 56px; }
  header img {
    padding: 8px; }
  header .start {
    display: flex;
    align-items: center; }
    @media screen and (max-width: 500px) {
      header .start img:first-child {
        display: none; } }
  header .center {
    display: flex;
    align-items: center;
    flex: 1;
    padding: 2px 6px;
    margin-left: 34px; }
    header .center input {
      width: calc(clamp(30px, 60%, 500px));
      padding: 10px 15px;
      margin-left: 32px;
      border: none;
      outline: none;
      font-size: 16px;
      background-color: #EBEBEB;
      border-radius: 22px; }
      header .center input::placeholder {
        color: #30384c;
        opacity: 0.4; }
      @media screen and (max-width: 500px) {
        header .center input {
          display: none; } }
    @media screen and (max-width: 500px) {
      header .center {
        justify-content: flex-end; } }
  header .end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px; }
    header .end img {
      cursor: pointer;
      height: 45px; }
      @media screen and (max-width: 500px) {
        header .end img:first-child {
          display: none; } }

aside {
  display: flex;
  flex-direction: column;
  width: 200px;
  overflow-y: scroll; }
  aside li,
  aside .settings {
    display: flex;
    align-items: center;
    width: 200px;
    height: 40px;
    padding: 0 12px;
    border-radius: 10px;
    color: #898989;
    cursor: pointer; }
    aside li img,
    aside .settings img {
      padding: 8px; }
    aside li:hover,
    aside .settings:hover {
      background-color: #f0f0f0; }
    aside li p,
    aside .settings p {
      font-size: 1.4rem; }
  aside .guide > li:nth-child(3) {
    margin-bottom: 40px; }
  aside .settings {
    margin: 20px 0; }
  aside .subscriptions {
    font-size: 1.5rem;
    padding: 20px; }
  @media screen and (max-width: 500px) {
    aside {
      display: none; } }

main {
  display: flex;
  height: calc(100vh - 56px);
  width: 100%; }
