header {
  @include icon;

  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 12px;
  height: $header-height;
  background-color: white;
  z-index: 2;

  .start {
    display: flex;
    align-items: center;

    img:first-child {
      @include responsive(display, none);
    }
  }

  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;

    input {
      width: calc(clamp(30px, 60%, 500px));
      padding: 10px 15px;
      border: none;
      outline: none;
      font-size: 16px;
      background-color: $search-bg-color;
      border-radius: 22px;

      &::placeholder {
        color: $search-placeholder-color;
        opacity: 0.4;
      }

      @include responsive(display, none);
    }

    @include responsive(justify-content, flex-end);
  }

  .end {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 30px;

    img {
      cursor: pointer;
      height: 45px;

      &:first-child {
        @include responsive(display, none);
      }
    }
  }
}
