.content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
}

.content-section {
  display: flex;
  flex-wrap: wrap;

  @include responsive(width, 100vw);
  @include responsive(flex-direction, column);
  @include responsive(flex-wrap, nowrap);

  &.recommended {
    img {
      width: calc(clamp(20vw, 40vw, 520px));

      @include responsive(width, 100%);
    }
  }

  .content-section__title {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;

    h2 {
      font-size: 2rem;
    }

    p {
      display: flex;
      align-items: flex-end;
      color: $description-color;
    }
  }

  .content-section__videos {
    display: flex;
    overflow-x: scroll;

    @include responsive(flex-direction, column);
  }
}
