.menu-item {
  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  padding: 0 12px;
  border-radius: 10px;
  color: #898989;
  cursor: pointer;

  &:hover {
    background-color: #f0f0f0;
  }

  p {
    font-size: 1.4rem;
  }

  img {
    padding: 8px;
  }
}
