@mixin icon {
  img {
    padding: 8px;
  }
}

@mixin menu-item {
  @include icon;

  display: flex;
  align-items: center;
  width: 200px;
  height: 40px;
  margin: 0 12px;
  border-radius: 10px;
  color: $menu-item-color;
  cursor: pointer;

  &:hover {
    background-color: $menu-item-hover-bg-color;
  }

  p {
    font-size: 1.4rem;
  }
}

@mixin responsive($property, $value) {
  @media screen and (max-width: 500px) {
    #{$property}: $value;
  }
}
