$header-height: 56px;
$aside-width: 200px;

$scrollbar-thumb-bg-color: #888;
$scrollbar-thumb-hover-bg-color: #555;

$menu-item-color: #898989;
$menu-item-hover-bg-color: #f0f0f0;

$search-bg-color: #ebebeb;
$search-placeholder-color: #30384c;

$white: #ffffff;
$video-time-text-bg-color: rgba(0, 0, 0, 0.3);

$description-color: #c2c2c2;

